<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">首页</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">首页</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">存档</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">存档</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">分类</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">分类</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">关于</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">关于</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
		</ul>		
	</div>
</header>
